*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    height:100%;
    width:100%;
    background-color: black;
}
main{
    height:100%;
    width:100%;
    position: relative;
}
.card{
    height: 70%;
    width:25%;
    position:absolute;
    left:35%;
    top:20%;
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: center;
}
.card img{
    position:absolute;
    height:70%;
    width:75%;
    left:12%;
    top:8%;
    border-radius: 20px;
}
.card h1{
    position:absolute;
    bottom:10%;
    left:10%

}
.card i{
    position:absolute;
    top:45%;
    left:50%;
    font-size: 80px;
    color:transparent;
    transition: all cubic-bezier(0.65, 1, 0.77, 1.44) 0.5s;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
}