*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height:100%;
    width:100%;
    background-color: rgb(53, 51, 51);
}
#color-box{
    height:300px;
    width:300px;
    background-color: aquamarine;
    position:absolute;
    left:40%;
    top:30%;
}
button{ 
    background-color: red;
    position:absolute;
    left:45%;
    top:70%;
    padding:20px;
    font-size: larger;
    border-radius: 50%;
    cursor:pointer;
}

    