*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height:100%;
    width:100%;
}
main{
    height:100%;
    width:100%;
    display:flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}
button{
    font-size: large;
    padding:15px;
    background-color: red;
    border-radius: 20px;
    z-index: 100;
}