body{
    background-image: url(https://i.pinimg.com/736x/6a/57/8e/6a578e74d2e707fe5d916b2b10986fb4.jpg);
    height:100%;
    width:100%; background-size: cover;
    text-align: center;
    color:bisque;
}
body h1{
    margin-top:100px;
    font-family: fantasy;
    margin-left: 200px;
    
}
body h2{
   
    font-family: fantasy;
    margin-left: 200px;
}