*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    background-color: black;
}
main{
    margin-top: 20px;
    height:100%;
    width:100%;
}
nav{
    height:10%;
    width:100%;
    color:#f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;    
    gap:30px;
    background-color: black;
}

nav a{
    color:rgb(169, 167, 167);
    text-decoration:none;
    font-size: large;   
}
#hero-img{
    margin-top: 80px;
    padding: 20px;
    
}
#hero-img button{
    position: absolute;
    bottom: 35px;
    right:50%;
    width:80px;
    height: 45px;
    background-color: rgb(1, 102, 204);
    padding:10px;
    border-radius: 40%;
    color:#f5f5f5;
    font-size: larger;
    border:transparent;
}
#hero-img h2{
    position: absolute;
    bottom: 0;
    left:30%;
    color:#f5f5f5;
}
